body {
    background: azure;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-left: 30px;
}

h1 {
    font-size: 22;
    text-align: center;
}

h2 {
    text-decoration: underline;
    padding-left: 10%;
}

table, div {
    background-color: cadetblue;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    width: 1000px;
}

#puppy {
    display: inline-block;
    padding-left: 20%;
    width: 30%;
    transition: transform 2s linear;

}

#puppy:hover {
    transform :scale(1.5);
}

p {
    padding-left: 10%;
}

div {
    width: 450px;
}

td {
    padding: 5px;
}

nav {
    padding: 10px;
    font-size: 20;
    text-align: center;
}

li {
    display: inline;
    margin-right: 50px;
}

.button{
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 18px;
}

