html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background: rgb(166, 205,147);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 22;
    text-align: center;
}

h2 {

    font-size: 14;
    text-align: center;
}

h4 {
    font-size: 22;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.nav {
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}


.submit {
    background-color: rgb(255, 192, 0);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
}
.zone {
    background-color: rgb(119, 180, 88);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inherit;
    font-size: 18px;
    border-radius: 10px;
    width: 30%;

}

nav {
    width: 100%;
    background-color:  rgb(119, 180, 88); 
}
input, select {
    background-color: rgb(255, 230, 153);
    border: 1px solid;
    color:black;
    padding: 4px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    margin: 2px 1px;
}

h3 {
    font-size: 15;
    text-decoration-color: darkred;
    color: darkred;
    text-align: center;
}

table, div {
    background-color: rgb(255, 230, 153);
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    width: 80%;
}

form {
    background-color: rgb(255, 230, 153);
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    width: 50%;
}

label {
    display: inline-block;
    width:200px;
    text-align: right;
}


#puppy {
    display: inline-block;
    padding-left: 20%;
    width: 30%;
    transition: transform 2s linear;

}

#puppy:hover {
    transform :scale(1.5);
}

p {
    padding-left: 10%;
}

div {
    width: 450px;
}

td {
    padding: 5px;
}

nav {
    padding: 10px;
    font-size: 20;
    text-align: center;
    margin-right: 0%;
}

li {
    display: inline;
    margin-right: 50px;
}


