body {
    background: rgb(166, 205,147);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-left: 30px;
}

h1 {
    font-size: 22;
    text-align: center;
}

h2 {
    font-size: 14;
    text-align: center;
}

h3 {
    font-size: 15;
    text-decoration-color: darkred;
    text-align: center;
}

table, div {
    background-color: rgb(255, 230, 153);
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    width: 80%;
}

form {
    background-color: rgb(255, 230, 153);
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    width: 50%;
}

label, submit, select {
    display: inline-block;
    width:200px;
    text-align: right;
}


#puppy {
    display: inline-block;
    padding-left: 20%;
    width: 30%;
    transition: transform 2s linear;

}

#puppy:hover {
    transform :scale(1.5);
}

p {
    padding-left: 10%;
}

div {
    width: 450px;
}

td {
    padding: 5px;
}

nav {
    padding: 10px;
    font-size: 20;
    text-align: center;
}

li {
    display: inline;
    margin-right: 50px;
}


